.feedbackList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedbackItem {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.feedbackTotal {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.feedbackPositive {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
